body {
  background-color: black;
  height: calc(100vh - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery {
  text-align: center;
}
.images-up img,
.images-down img {
  width: 100px;
  border: 5px solid white;
  margin: 0 3px;
}
.images-up img {
  cursor: pointer;
}
.images-up img:hover,
.images-down img:hover {
  border: 5px solid green;
}
.main img {
  border: 5px dashed white;
  width: 400px;
  margin: 10px 0;
}
@media (max-width: 501px) {
  .images-down {
    display: none;
  }
  .main img {
    width: 250px;
  }
  .images-up img {
    width: 50px;
  }
}
